<section id="section-about" class="clearfix about">

    <div class="about__doctor-slab">
        <div class="heading center">
            <h2 class="heading__main">MEET THE DOCTOR</h2>
        </div>
        <div class="container">
            <div class="doctor__wrapper">
                <div class="doctor">
                    <h3 class="doctor__name">Adam J. Langan, DDS</h3>
                    <p class="doctor__copy">Dr. Adam Langan received a bachelor of science degree in biology with a minor in
                        biochemistry from the University of Nebraska–Lincoln and later earned his doctorate from the University
                        of Nebraska Medical Center College of Dentistry, where he graduated with distinction. Each year, he
                        participates in world-class continuing education in cosmetic dentistry, implants, and dental technology
                        to ensure that every restoration is carefully crafted and precise.</p>
                    <p class="doctor__copy">Dr. Langan is married to Sarah, an optometrist, and they are the proud parents of
                        Evelyn and Bennett. They also have a dog named Ruby. Dr. Langan’s hobbies include golfing, playing
                        guitar, and doing yard work.</p>
                </div>
            </div>
        </div>
        <div class="doctor__mobile-image">
            <img src="assets/langan-bio-mobile.jpg" alt="{{  mainDoctor }}">
        </div>
    </div>

    <div class="about__team-slab">
        <div class="container">
            <div class="team-card__wrapper">
                {% for person in team %}
                    <div class="team-card">
                        <a  href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" >
                        <div class="team-card__image">
                            <img src="assets/team/{{ person.image }}" alt="{{ person.name }}">
                        </div>
                        <p class="team-card__name">{{ person.name }}</p>
                        <p class="team-card__byline">{{ person.title }}</p>
                        <p class="team-card__read-more">Read More</p>
                        </a>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>

    <div class="about__video-slab">
        <div class="container">
            <div class="video-slab__wrapper">
                <div class="video-slab__copy center">
                    <h2 class="video-slab__title">Caring Dentistry</h2>
                    <h3 class="video-slab__byline">FOR OUR COMMUNITY</h3>
                    <p class="video-slab__text">When News 12 was contacted by a woman who needed help dealing with dental
                        pain, Dr. Tom Piccolo responded and helped restore her smile. Hear Melody’s story.</p>
                </div>
                <div class="video-slab__iframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gl1E6QP7sgY" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}
</section>

